<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<true/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>issues-topics-knowledgedomains.md</string>
		</array>
		<array>
			<string>RegistrationProject.md</string>
		</array>
		<array>
			<string>AMC-Madmen-LastSeason.md</string>
		</array>
		<array>
			<string>AT Project Management.md</string>
		</array>
		<array>
			<string>Drew10Oct2014.md</string>
		</array>
	</array>
</dict>
</plist>
