<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<true/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ToDo - 19Sept2014-b.md</string>
		</array>
		<array>
			<string>ToDo - September 12.taskpaper</string>
		</array>
		<array>
			<string>ToDo - September 12a.taskpaper</string>
		</array>
		<array>
			<string>ToDos_END_2014.md</string>
		</array>
		<array>
			<string>TodoSeptember2014.todo.ft..ft</string>
		</array>
	</array>
</dict>
</plist>
