<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>address</key>
		<string>http://www.google.com/search?as_q=energy+use,+energy+markets+the+internet+of+things&amp;num=40&amp;ie=UTF-8&amp;start=0</string>
		<key>date</key>
		<real>432402032.971053</real>
		<key>error</key>
		<string>Links: 36</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.academia.edu/7308059/INTERNET_OF_THINGS_IN_THE_ENERGY_AND_POWER_SECTOR_-_APPLICATIONS_DEVICES_ANALYTICS_SMART_PRODUCTS</string>
		<key>date</key>
		<real>432402033.38443398</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://en.wikipedia.org/wiki/Internet_of_Things</string>
		<key>date</key>
		<real>432402033.47658801</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.sas.com/da_dk/insights/articles/big-data/internet-of-things-examples.html</string>
		<key>date</key>
		<real>432402033.51134402</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://theenergycollective.com/stephenlacey/234056/internet-things-startup-brings-talent-amazon-cisco-and-silver-spring-networks</string>
		<key>date</key>
		<real>432402033.51538002</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bluetooth.com/pages/bluetooth-smart.aspx</string>
		<key>date</key>
		<real>432402033.56320202</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://pov.energyfutureholdings.com/2014/08/integrating-the-internet-of-things-a-smart-idea/</string>
		<key>date</key>
		<real>432402033.64533901</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://ocreg.controleng.com/onecount/validate_server/getCookie.php?return=http%3A%2F%2Fwww.controleng.com%2Fsingle-article%2Fenergy-harvesting-for-internet-of-things%2F686b996b1f6511e740327aae636a8fe7.html</string>
		<key>date</key>
		<real>432402033.68921101</real>
		<key>error</key>
		<string>No content</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.forbes.com/sites/peterdetwiler/2013/08/06/machine-to-machine-connections-the-internet-of-things-and-energy/</string>
		<key>date</key>
		<real>432402033.80828702</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bing.com/search?q=energy+use,+energy+markets+the+internet+of+things&amp;filt=all&amp;first=1</string>
		<key>date</key>
		<real>432402033.87213099</real>
		<key>error</key>
		<string>Links: 7 of 9</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.swaip.com/node/414760</string>
		<key>date</key>
		<real>432402033.91730201</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bloomberg.com/video/can-the-internet-of-things-drive-energy-efficiency-yrU3EMG7T2WmNAAv3AEd~w.html</string>
		<key>date</key>
		<real>432402034.07931799</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://smartenergyefficiency.eu/5-reasons-why-the-internet-of-things-will-reshape-energy-efficiency/</string>
		<key>date</key>
		<real>432402034.30253202</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://raconteur.net/technology/internet-of-things-can-help-solve-energy-trilemma</string>
		<key>date</key>
		<real>432402034.30778003</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.wirelessdesignmag.com/articles/2014/03/wireless-energy-harvesting-power-internet-things</string>
		<key>date</key>
		<real>432402034.334454</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://blog.uk.fujitsu.com/cloud/the-energy-market-and-the-internet-of-things/</string>
		<key>date</key>
		<real>432402034.42653698</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.seecontrol.com/aviva-energy-selects-seecontrol-to-bring-the-internet-of-things-to-enterprise-energy-management/</string>
		<key>date</key>
		<real>432402034.77002501</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.marketwatch.com/story/txu-energy-says-energy-management-is-key-in-the-internet-of-things-2014-05-22</string>
		<key>date</key>
		<real>432402034.77467</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://search.yahoo.com/search?x=op&amp;va=energy+use,+energy+markets+the+internet+of+things&amp;va_vt=any&amp;vst=0&amp;vd=all&amp;fl=0&amp;ei=UTF-8&amp;vm=p&amp;b=1</string>
		<key>date</key>
		<real>432402034.81187803</real>
		<key>error</key>
		<string>Links: 5 of 12</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://go.microsoft.com/?linkid=9844325</string>
		<key>date</key>
		<real>432402034.86864501</real>
		<key>error</key>
		<string>Advertisement</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://markets.financialcontent.com/stocks/news/read?GUID=28175497</string>
		<key>date</key>
		<real>432402034.91086602</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.em.avnet.com/en-us/design/technical-articles/Pages/Articles/Internet-of-Things-Using-Wireless-Controlled-Lighting-to-Reduce-Energy-Costs.aspx</string>
		<key>date</key>
		<real>432402034.98578298</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.energytrendsinsider.com/2014/04/02/how-we-can-industrialize-the-internet-of-things/</string>
		<key>date</key>
		<real>432402035.02076298</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bing.com/search?q=energy+use,+energy+markets+the+internet+of+things&amp;filt=all&amp;first=11</string>
		<key>date</key>
		<real>432402035.09744197</real>
		<key>error</key>
		<string>Links: 10 of 14</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://mordorintelligence.com/product/internet-of-things-in-energy-sector-growth-trends-and-forecasts-2014-2019/</string>
		<key>date</key>
		<real>432402035.24821901</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.reuters.com/article/2014/03/17/research-and-markets-idUSnBw175590a+100+BSW20140317</string>
		<key>date</key>
		<real>432402035.32631999</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.govtech.com/products/GT-The-Internet-of-Things-Will-Thrive-On-Energy-Efficiency-.html</string>
		<key>date</key>
		<real>432402035.36454701</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://knowledge.wharton.upenn.edu/article/dark-side-big-data/</string>
		<key>date</key>
		<real>432402035.44960701</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.energyharvestingjournal.com/action/initlogin.asp?returl=/articles/quantifying-the-internet-of-things-market-00006641.asp&amp;retdomain=www.energyharvestingjournal.com&amp;userstr=none</string>
		<key>date</key>
		<real>432402035.462906</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>https://gigaom.com/2011/10/10/the-internet-of-things-energy/</string>
		<key>date</key>
		<real>432402035.506522</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://search.yahoo.com/search?x=op&amp;va=energy+use,+energy+markets+the+internet+of+things&amp;va_vt=any&amp;vst=0&amp;vd=all&amp;fl=0&amp;ei=UTF-8&amp;vm=p&amp;b=11</string>
		<key>date</key>
		<real>432402035.60431802</real>
		<key>error</key>
		<string>Links: 0 of 10</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.thethirdindustrialrevolution.com/</string>
		<key>date</key>
		<real>432402035.618303</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.38zeros.com/blog/barriers-to-the-internet-of-things-in-the-energy-industry</string>
		<key>date</key>
		<real>432402035.75782001</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.businesswire.com/news/home/20140317005590/en/Research-Markets-Australia---Smart-Infrastructure--</string>
		<key>date</key>
		<real>432402035.84307301</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://chipdesignmag.com/mcleod/2014/07/24/bluetooth-low-energy-a-market-catalyst-with-a-major-security-flaw/</string>
		<key>date</key>
		<real>432402035.84842801</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://blogs.blouinnews.com/blouinbeattechnology/2014/06/24/using-the-internet-of-things-to-be-energy-efficient/</string>
		<key>date</key>
		<real>432402035.84903699</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bing.com/search?q=energy+use,+energy+markets+the+internet+of+things&amp;filt=all&amp;first=21</string>
		<key>date</key>
		<real>432402035.88367599</real>
		<key>error</key>
		<string>Links: 8 of 13</string>
	</dict>
	<dict>
		<key>address</key>
		<string>https://www.flickr.com/</string>
		<key>date</key>
		<real>432402036.08158302</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.slideshare.net/mordorintelligence/internet-ofthingsintheenergyandpowersector</string>
		<key>date</key>
		<real>432402036.08249497</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.amazon.com/Zero-Marginal-Cost-Society-Collaborative/dp/1137278463</string>
		<key>date</key>
		<real>432402036.1437</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://linux.sys-con.com/node/3178136</string>
		<key>date</key>
		<real>432402036.20383298</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://onworld.com/news/index.html</string>
		<key>date</key>
		<real>432402036.22043502</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://engineering.vanderbilt.edu/news/2014/students-prototype-new-energy-intelligence-solution-for-internet-of-things-market/</string>
		<key>date</key>
		<real>432402036.31087798</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.marketwired.com/press-release/people-power-launches-open-source-internet-things-software-developers-kit-spur-home-1584514.htm</string>
		<key>date</key>
		<real>432402036.31662798</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.technologyreview.com/news/529206/a-batteryless-sensor-chip-for-the-internet-of-things/</string>
		<key>date</key>
		<real>432402036.339068</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.budde.com.au/Research/Australia-Smart-Infrastructure-Smart-Energy-driven-by-The-Internet-of-Things.html</string>
		<key>date</key>
		<real>432402036.351309</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.weforum.org/issues/energy</string>
		<key>date</key>
		<real>432402036.50639302</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.bing.com/search?q=energy+use,+energy+markets+the+internet+of+things&amp;filt=all&amp;first=31</string>
		<key>date</key>
		<real>432402036.65258598</real>
		<key>error</key>
		<string>Links: 12 of 17</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.idtechex.com/research/articles/energy-harvesting-and-iot-in-building-automation-00006721.asp</string>
		<key>date</key>
		<real>432402036.670735</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://finance.yahoo.com/news/txu-energy-says-energy-management-133000161.html</string>
		<key>date</key>
		<real>432402036.92903501</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.energyharvestingjournal.com/articles/can-the-internet-of-things-drive-adoption-of-energy-harvesters-00006190.asp</string>
		<key>date</key>
		<real>432402037.05255699</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://conference.researchbib.com/?action=viewEventDetails&amp;eventid=33023&amp;uid=r0e9a0</string>
		<key>date</key>
		<real>432402037.06954002</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.quora.com/How-can-the-Internet-of-Things-represents-an-innovative-use-case-in-the-Energy-sector</string>
		<key>date</key>
		<real>432402037.20455003</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.marketwatch.com/story/enmetric-systems-and-their-internet-of-things-iot-platform-chosen-as-energy-management-solution-for-first-net-zero-energy-office-building-in-san-francisco-2014-05-21</string>
		<key>date</key>
		<real>432402037.20749199</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>https://gigaom.com/2011/04/29/5-things-you-need-to-know-about-energy-storage/</string>
		<key>date</key>
		<real>432402037.20788598</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.hngn.com/articles/25735/20140304/internet-of-things-can-reduce-energy-consumption-and-carbon-emission.htm</string>
		<key>date</key>
		<real>432402037.20879799</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://renewableplus.blogspot.com/2014/03/high-availability-internet-of-things.html#!</string>
		<key>date</key>
		<real>432402037.36129802</real>
		<key>error</key>
		<string>No content</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://vint.sogeti.com/internet-of-things-and-the-energy-market-exsum13/</string>
		<key>date</key>
		<real>432402037.41263402</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.ethicalmarkets.com/2012/06/05/how-much-energy-does-the-internet-use/</string>
		<key>date</key>
		<real>432402037.54011703</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://venturebeat.com/2014/07/02/adesto-marches-into-the-internet-of-things-battle-with-memory-chips-that-use-100-times-less-energy/</string>
		<key>date</key>
		<real>432402037.62675399</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.techthefuture.com/technology/how-much-electricity-does-the-internet-use/</string>
		<key>date</key>
		<real>432402037.63284898</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.pr-inside.com/nxp-and-enocean-use-nfc-to-r3897349.htm</string>
		<key>date</key>
		<real>432402037.70055199</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.businesswire.com/news/home/20140421005044/en/Camgian-Microsystems-Vanderbilt-University-Prototype-Energy-Intelligence</string>
		<key>date</key>
		<real>432402037.71374601</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://blogs.marketwatch.com/thetell/2014/04/09/greenpeace-says-twitter-amazon-among-dirtiest-in-internet-energy-use/</string>
		<key>date</key>
		<real>432402037.79546201</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.reuters.com/article/2014/04/21/ms-camgian-microsystems-idUSnBw215044a+100+BSW20140421</string>
		<key>date</key>
		<real>432402037.82073897</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.onenewspage.com.au/n/Press+Releases/750cnansj/Research-and-Markets-Australia-Smart-Infrastructure.htm</string>
		<key>date</key>
		<real>432402037.83245403</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://vint.sogeti.com/dennis-kamst-rwe-internet-things-will-impact-energy-market/</string>
		<key>date</key>
		<real>432402037.93703198</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.clauer.fr/2014/02/googles-nest-acquisition-is-not-about-the-internet-of-things/</string>
		<key>date</key>
		<real>432402037.95328802</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://energy.gov/science-innovation/energy-sources</string>
		<key>date</key>
		<real>432402038.01911902</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.electricenergyonline.com/detail_news.php?ID=482954&amp;cat=;82&amp;niveauAQ=0</string>
		<key>date</key>
		<real>432402038.02420002</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://cleantechies.com/2014/03/25/disruption-solar-energy-episode-26-keith-cronin/</string>
		<key>date</key>
		<real>432402038.09813303</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://news.thomasnet.com/IMT/2013/03/11/could-the-industrial-internet-be-the-key-to-renewable-energy-and-ghg-reductions/</string>
		<key>date</key>
		<real>432402038.64917397</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://energy.gov/</string>
		<key>date</key>
		<real>432402038.66065902</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.futurestructure.com/The-Internet-of-Things-Will-Thrive-On-Energy-Efficiency-.html</string>
		<key>date</key>
		<real>432402038.75379097</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://energy.gov/science-innovation</string>
		<key>date</key>
		<real>432402038.755234</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.scientific.net/AMM.291-294.945</string>
		<key>date</key>
		<real>432402038.79989702</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://openenergymarket.com/tag/internet-of-things/</string>
		<key>date</key>
		<real>432402039.49084502</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.marketexpress.in/2013/04/liquid-cooling-cut-internet-energy.html</string>
		<key>date</key>
		<real>432402039.66147798</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://iot.do/camgian-microsystems-and-vanderbilt-university-prototype-new-energy-intelligence-solution-2014-04</string>
		<key>date</key>
		<real>432402039.88888198</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://www.marketresearchreports.com/paul-budde-communication-pty-ltd/australia-smart-infrastructure-smart-energy-driven-internet-things</string>
		<key>date</key>
		<real>432402040.17407501</real>
		<key>error</key>
		<string>No match</string>
	</dict>
	<dict>
		<key>address</key>
		<string>http://article.wn.com/view/2014/09/10/SeeControl_Selected_by_Aviva_Energy_to_Bring_the_Internet_of/</string>
		<key>date</key>
		<real>432402041.01282698</real>
		<key>error</key>
		<string>No match</string>
	</dict>
</array>
</plist>
