<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>advertising.md</string>
		</array>
		<array>
			<string>AlisonMindshareEmail.md</string>
		</array>
		<array>
			<string>CreativityStudies.md</string>
		</array>
		<array>
			<string>Deltek-1.md</string>
		</array>
		<array>
			<string>Deltek.md</string>
		</array>
		<array>
			<string>EdTrainingConversation26Sept2014.md</string>
		</array>
		<array>
			<string>justin_hendrix_-_nyc_media_lab.md</string>
		</array>
		<array>
			<string>linkedin_personlaization_for_website.md</string>
		</array>
		<array>
			<string>Marc22Sep2014i.md</string>
		</array>
		<array>
			<string>Marci Integrated initiatives.md</string>
		</array>
		<array>
			<string>MarkAvnet.md</string>
		</array>
		<array>
			<string>metis.md</string>
		</array>
		<array>
			<string>nycmedialab2 (Foxpath DropBox's conflicted copy).md</string>
		</array>
		<array>
			<string>nycmedialab2.md</string>
		</array>
		<array>
			<string>PlatinumPartnerships.md</string>
		</array>
		<array>
			<string>portland_design.md</string>
		</array>
		<array>
			<string>ReadMeNotes.taskpaper</string>
		</array>
		<array>
			<string>RepresentativesPOV.txt</string>
		</array>
		<array>
			<string>RunningNotes.txt</string>
		</array>
		<array>
			<string>Strategic partnerships.md</string>
		</array>
		<array>
			<string>Technology at the 4As.txt</string>
		</array>
		<array>
			<string>Vertic.md</string>
		</array>
		<array>
			<string>wordpress 4.md</string>
		</array>
		<array>
			<string>WorstAdExperiences.md</string>
		</array>
		<array>
			<string>ZachPentel.md</string>
		</array>
	</array>
</dict>
</plist>
