<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>uploads</string>
		<string>imgs</string>
		<string>meetings</string>
		<string>todo</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>about.md</string>
		</array>
		<array>
			<string>download.md</string>
		</array>
		<array>
			<string>BostonCouncilCall22Sept.md</string>
		</array>
		<array>
			<string>CT_Update_16Sept2014.md</string>
		</array>
		<array>
			<string>CT_Update_22Sept2014.md</string>
		</array>
		<array>
			<string>TaxonomyHBR.ft</string>
		</array>
		<array>
			<string>Techtalk2014-B2Bversion.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>updates.md</string>
		</array>
		<array>
			<string>Techtalk2014-B2BversionSLIDES.md</string>
		</array>
	</array>
</dict>
</plist>
